@page
@model ParkNet.Pages.My.ParkingLots.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParkingLot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingLot.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingLot.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingLot.FloorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingLot.FloorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingLot.FloorNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingLot.FloorNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ParkingLot.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
